extends ../../../views/layout
block head
block content
  #condominio_el_shaddai
    h2 CONDOMINIO EL SHADDAI
    p Condominio Campestre El Shaddai (palabra hebrea que significa "Dios es todo poderoso"), mejor proyecto urbanistico de La Plata Huila,se encuentra ubicado a 5 minutos de este municipio en la recta de Matanzas, via Neiva a 300 metros del estadero Los Tronquitos, via pavimentada y de mayor proyecci&oacute;n del municipio. 
    img(src="/images/condominio_el_shaddai/PENDON.png")
    p Los lotes del condominio se entregan con una v&iacute;a de desaceleraci&oacute;n, hermoso p&oacute;rtico a la entrada con su respectiva zona de vigilancia, a du lado izquierdo van dos locales adecuados para un supermercado y un gimnasio, seguido de la v&iacute;a, andenes, sardineles y zonas verdes arborizadas con frutales; las &aacute;reas de los lotes van de 1000 metros en adelante, (en estos lotes no van incluidas las &aacute;reas comunes), tambi&eacute;n se entrega con una zona especial en donde va una piscina, un sal&oacute;n de reuniones sociales, parqueadero para visitantes, un parque infantil y senderos; pero principalmente se entrega con servicios p&uacute;blicos. 
    a.imagenes(onclick="mostrar_imagenes();")
      h3 VER IM&Aacute;GENES
    a.oferta(onclick="mostrar_oferta();")
      h3 ¡GRAN LANZAMIENTO!
    #imagenes(style="display:none;")
      p Diseño del condominio
      img(src="/images/condominio_el_shaddai/1.png")
      img(src="/images/condominio_el_shaddai/2.png")
      img(src="/images/condominio_el_shaddai/3.png")
      img(src="/images/condominio_el_shaddai/4.png")
      img(src="/images/condominio_el_shaddai/5.png")
      img(src="/images/condominio_el_shaddai/6.png")
      img(src="/images/condominio_el_shaddai/7.png")
      img(src="/images/condominio_el_shaddai/8.png")
      img(src="/images/condominio_el_shaddai/9.png")
      img(src="/images/condominio_el_shaddai/10.png")
      img(src="/images/condominio_el_shaddai/11.png")
    #oferta(style="display:none;")
      img.oferta(src="/images/oferta.gif")
      p Finalizando el mes de diciembre se realizar&aacute; el lanzamiento del proyecto, en donde se dar&aacute;n a conocer las siguientes ofertas: 
      ul 
        li Se dejaron 30 lotes de 1000m a $29.000.000, que de ser cancelados de contado tendr&aacute;n una rebaja del 7% pero si desean mayor comodidad de pago, la Inmobiliaria facilita la siguiente financiaci&oacute;n:
        ul
          li 40% inicial ($11.600.000)
          li 50% a los 6 meses ($14.500.000)
          li 10% contra escritura ($2.900.000)
        li Gracias a la gesti&oacute;n de la Inmobiliaria, el Banco Bogot&aacute; le ofrece cr&eacute;ditos a los clientes interesados en obtener una mejor financiaci&oacute;n para la compra de los lotes, con una atenci&oacute;n especial por parte del gerente de la entidad. 
        li PLAN PADRINO: Paquete que consiste en favorecer a los 10 primeros clientes que compren de contado, se les dar&aacute;n los lotes de 1000 metros en tan solo $20.000.000. (Promoci&oacute;n disponible hasta agotar la existencia de los 10 lotes)
      span Para mayor informaci&oacute;n cont&aacute;ctanos con los tel&eacute;fonos 313 302 4145 - 322 308 6439 - 313 294 6854 o escr&iacute;benos &nbsp;
      a(href="/contacto") aqu&iacute;
      span &nbsp; y nosotros te respondemos. 

    a.scrollup(onclick="subir();") 
      b SUBIR         