extends ../../../views/layout
block head
  link(rel='stylesheet' type='text/css' href='/css/slicebox.css')
  script(type='text/javascript' src='/js/modernizr.custom.46884.js')
  script(type='text/javascript' src='/js/jquery.slicebox.js') 
block content
  #slider
    ul#sb-slider.sb-slider
      li
        img(src="/images/imageSlider/i1.jpg" alt="image1")
        .sb-description
          a(href="")
            b VER +
      li
        img(src="/images/imageSlider/i2.jpg" alt="image2")
        .sb-description
          a(href="")
            b VER +
      li
        img(src="/images/imageSlider/i3.jpg" alt="image3")
        .sb-description
          a(href="")
            b VER +
      li
        img(src="/images/imageSlider/i4.png" alt="image4")
        .sb-description
          a(href="")
            b VER +
      li
        img(src="/images/imageSlider/i5.jpg" alt="image5")
        .sb-description
          a(href="")
            b VER +
      li
        img(src="/images/imageSlider/i6.jpg" alt="image6")
        .sb-description
          a(href="")
            b VER +
  #nav-arrows.nav-arrows
    a(href="#") Next
    a(href="#") Previous
  #informacion
    .izquierda
      h3 ¿QUIENES SOMOS?
      a(href="/sobreNosotros")
        img(src="/images/interrogacion.png")
    .centro
      h3 PROYECTO ACTUAL
      a(href="#")
        img(src="/images/proyecto.png")
    .derecha
      h3 UBICANOS 
      a(href="#")
        img(src="/images/mapa.png")
  #redes
    a.facebook(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u= http://juguemosconlassenas.herokuapp.com/")
      .icon
    a.twitter(target="_blank" href="https://twitter.com/?status=Me gusta esta página http://juguemosconlassenas.herokuapp.com/")
      .icon
    a.google(target="_blank" href="https://plus.google.com/share?url=http://juguemosconlassenas.herokuapp.com/")
      .icon
  #datos
    p INMOBILIARIA EL SHADDAI - LA PLATA HUILA 
    p CALLE 2B SUR N. 5-05 B VILLA DEL RIO
    p TELEFONOS 313 302 4145 - 322 308 6439 - 313 294 6854
    p HORARIO DE ATENCION AL PUBLICO: LUNES A SABADO DE 8:00 AM A 6:00 PM