extends ../../../views/layout
block head
block content
  #proyectos
    h2 NUESTROS PROYECTOS
    a(href="/proyectos/condominioelshaddai")
      h2 CONDOMINO CAMPESTRE EL SHADDAI 
      img(src="/images/imageSlider/i1.jpg")