extends ../../../views/layout
block head
block content
  #sobreNosotros
    h2 QUIENES SOMOS
    #objetoSocial
      h3 OBJETO SOCIAL
      p Ejecuci&oacute;n de proyectos de urbanismo, construcci&oacute;n de vivienda y obras de ingenier&iacute;a,comercializaci&oacute;n y mercadeo de bienes raices y demas actos y operaciones comerciales l&iacute;citas necesarias para el desarrollo de estos proyectos inmobiliarios, urbanos y rurales. 
      img(src="/images/objeto.png")

    #mision
      h3 MISION
      img(src="/images/mision.png")
      p Nos dedicamos a prestar servicios inmobiliarios, satisfaciendo las necesidades de nuestro clientes, prestando los servicios integrados en desarrollo y construcci&oacute;n de nuestros proyectos, estando a la vanguardia en tecnolog&iacute;as, materiales y sistemas constructivos, ofreciendo el mejor producto que brinde a nuestros clientes la armon&iacute;a entre la est&eacute;tica y la funcionalidad del espacion; entre comodidad en su inversi&oacute;n y comodidad en sus inmuebles, simult&aacute;neamente contribuyendo al desarrollo paisaj&iacute;stico eficiente y din&aacute;mico as&iacute; como socioecon&oacute;mico, de nuestro municipio y departamento a trav&eacute;s de los principios de honestidad, responsabilidad y transparencia fundamentados en valores &eacute;ticos y de cumplimiento. 

    #vision
      h3 VISION
      p Busca ser la inmobiliaria lider del departamento para el año 2025, siendo la compañ&iacute;a de confianza de sus clientes, reconocida como la primera opci&oacute;n para la comercializaci&oacute;n de productos inmobiliarios, por nuestra calidad y excelencia en productos y servicios, dando estricto cumplimiento a los principios y fundamentos trazados, adem&aacute;s contamos con el qeuipo humano que aporte la mejora continua, con los m&aacute;s altos est&aacute;ndares de profecionalismo. 
      img(src="/images/vision.png")

<!-- á  &aacute; é &eacute; í &iacute; ó &oacute; ú &uacute; -->